# ✅ Игнорировать кэш Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo

# ✅ Игнорировать виртуальные окружения
.venv/
venv/

# ✅ Игнорировать сборку PyInstaller
build/

*.spec


# ✅ Игнорировать временные/резервные файлы
*.log
*.tmp
*.bak
*.old
*.swp
*~

# ✅ Игнорировать IDE и системные файлы
.vscode/
.idea/
.DS_Store
Thumbs.db